<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">Yatiri</a>
<div class="nav-collapse collapse">
    <ul class="nav">
        <li class="{{ active('home') }}"><a href="/">Inicio</a></li>
        <li class="{{ active('browse') }}"><a href="/browse/">Navegar</a></li>
    </ul>
    <form action="/search" class="navbar-form pull-right">
        <input name="q" class="span3" type="text" placeholder="">
        <button type="submit" class="btn">Buscar</button>
    </form>
</div><!--/.nav-collapse -->

